[submodule "yolov5"]
	path = yolov5
	url = https://github.com/pacefactory/yolov5.git
# pacefactory has a fork of the yolov5 repo too. Will need to merge that repo with the same commit used in mikel-brostrom/Yolov5_DeepSort_Pytorch
# url = https://github.com/ultralytics/yolov5.git

[submodule "deep_sort/deep/reid"]
	path = deep_sort/deep/reid
	url = https://github.com/KaiyangZhou/deep-person-reid
